body {
  font-family: 'Balthazar', serif;
  background-color: #A58CDE;
}

.navbar {
  color: white;
  font-size: 30px;
  padding: 10px;
}
.navbar .pull-right {
  font-size: 20px;
  color: #CE3981;

}

.navbar .pull-right a {
  color: #CE3981;
  font-family: 'Share Tech Mono';
}

.logo {
  font-family: 'Sonsie One', cursive;
}

.product a {
  color: #CE3981;
  font-size: 15px;
}

input {
  border-radius: 5px;
}

textarea {
  border-radius: 5px;
}

.btn {
  background-color: black;
  color: white;
}

.btn:hover {
  background-color: #CE3981;
}
