<h1>Welcome to Stop and Shop</h1>

  <% @products.each do |product| %>
  <p class="product"><%= link_to product.name, product_path(product) %> $<%=product.price %></p>
  <%end%>

<% if !current_user.nil? %>
  <%= link_to 'New Product', new_product_path, :class => 'btn btn-info' %>
<% end %>
